body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff6f0;    /*#fff6f0 */
    background-image: url("/img/torta.png");
    background-position: center;
    background-size: 200px 200px;
    background-attachment: fixed;
}

.tituloPrincipal {
    padding-top: 10px;
    background-color: #f8f5f1c4;
    text-align: center;
    padding: 20px;
}

.option-card {
    transition: all 0.3s ease;
    box-shadow: 0 10px 15px 0px rgba(0, 0, 0, 0.1);
}

.option-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px 0px rgba(46, 24, 13, 0.342);
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.checkbox-container input[type="checkbox"] {
    margin-right: 0.8rem;
    width: 1.2rem;
    height: 1.2rem;
    cursor: pointer;
}

.checkbox-container input[type="radio"] {
    transform: scale(1.4);
    margin-right: 0.8rem;
    cursor: pointer;
}

.price-tag {
    margin-left: auto;
    font-weight: 500;
    color: #666;
}

.contact-button {
    transition: all 0.3s ease;
}

.contact-button:hover {
    transform: scale(1.05);
}

.total-section {
    background: linear-gradient(135deg, #ffd6fc, #fcfbce);
}

@media (max-width: 768px) {
    .tituloPrincipal {
    padding-top: 10px;
    margin: 0%;
    font-size: x-large;
    text-align: center;
    }
}
